.professor {
    min-height: 100%;
    position: relative;
}

.professor .sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url("@/assets/images/sprite-professor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.professor-background {
    background-image: url("@/assets/images/bg-professor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
