/**
 * Chigui CSS - Micro-framework ultraliviano
 *
 * Un framework CSS minimalista y escalable
 * Mobile-first | Variables | ~10KB minificado
 *
 * Uso: @import "./styles/chigui.css";
 */

@import "./reset.css";
@import "./variables.css";
@import "./base.css";
@import "./layout.css";
@import "./components.css";
@import "./utilities.css";
