/* === INCUBATOR SCENE === */

.incubator-background {
    background: none !important;
}

/* === SPRITES === */

.incubator-spr__incubator {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 135px;
    background-image: url("@/assets/sprites/spr--incubator.webp");
}

.incubator-div__indicator {
    position: absolute;
    left: 33px;
    top: 21px;
    width: 24px;
    height: 13px;
    overflow: hidden;
}

.incubator-div__indicator .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.incubator-div__indicator .wrapper .srp__actions {
    position: absolute;
    width: 90px;
    height: 13px;
    background-image: url("@/assets/sprites/spr--incubator-actions-indicator.webp");
}

.incubator-div__indicator .wrapper .srp__mask {
    position: absolute;
    width: 24px;
    height: 13px;
    background-image: url("@/assets/sprites/spr--incubator-indicator-mask.webp");
}

.incubator-spr__egg {
    position: absolute;
    left: 32px;
    top: 46px;
    width: 26px;
    height: 34px;
    background-image: url("@/assets/sprites/spr--incubator-egg.webp");
    animation: bounce 3s ease-in-out infinite;
}

.incubator-spr__button {
    position: absolute;
    left: 28px;
    bottom: 9px;
    width: 34px;
    height: 18px;
    cursor: pointer;
    background-image: url("@/assets/sprites/spr--incubator-button.webp");
}

.incubator-spr__button:active {
    background-position: bottom;
}
