.incubator {
    min-height: calc(100% - 102px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.incubator__sprite {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("@/assets/images/sprite-incubator.png");
}

.incubator-background {
    background: linear-gradient(135deg, #7d1b4e 0%, #1a1a2e 100%) !important;
}
