/* === INCUBATOR SCENE === */

.incubator-background {
    background: none !important;
}

/* === SPRITES === */

.incubator-spr__incubator {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 135px;
    background-image: url("@/assets/sprites/spr--incubator.webp");
}

.incubator-spr__button {
    position: absolute;
    left: 28px;
    bottom: 9px;
    width: 34px;
    height: 18px;
    cursor: pointer;
    background-image: url("@/assets/sprites/spr--incubator-button.webp");
}

.incubator-spr__button:active {
    background-position: bottom;
}

.incubator-spr__egg {
    position: absolute;
    left: 32px;
    top: 46px;
    width: 26px;
    height: 34px;
    background-image: url("@/assets/sprites/spr--incubator-egg.webp");
    animation: bounce 3s ease-in-out infinite;
}
